In [1]:
#tipe data integer
a = 3
print(a)
print(f'di atas adalah tipe data {type(a)}')
print()

a = int(input('Masukkan angka nya : '))
print(f'Ini angkanya : {a}')

3
di atas adalah tipe data <class 'int'>

Ini angkanya : 3

In [2]:
#tipe data float
float1 = 3.14
print(float1)
print(f'di atas adalah tipe data {type(float1)}')
print()

float1 = float(input('Masukkan angka float nya : '))
print(f'Ini angka nya : {float1}')

3.14
di atas adalah tipe data <class 'float'>

Ini angka nya : 5.0

In [3]:
#tipe data string
strings = '"Ini adalah string"'
print(strings)
print(f'di atas adalah tipe data {type(strings)}')
print()

strings = input('Masukkan teks nya : ')
print(f'Ini adalah teks nya : {strings}')

"Ini adalah string"
di atas adalah tipe data <class 'str'>

Ini adalah teks nya : Rafli

In [ ]:
#tipe data Boolean
bool1 = True
print(bool1)
print(f'di atas adalah tipe data {type(bool1)}')
print()

In [ ]:
#tipe daya hexadecimal
hexsa = hex(123)
print(hexsa)
print(f'di atas adalah tipe data {type(hexsa)}')
print()

In [ ]:

#tipe data complex
comp = 3j + 5
print(comp)
print(f'di atas adalah tipe data {type(comp)}')
print()

In [6]:
#tipe data list
list1 = [1,4,5,False,6.56,True]
print(list1)
print(f'di atas adalah tipe data {type(list1)}')
z = [list1] * 8
print(z)

[1, 4, 5, False, 6.56, True]
di atas adalah tipe data <class 'list'>
[[1, 4, 5, False, 6.56, True], [1, 4, 5, False, 6.56, True], [1, 4, 5, False, 6.56, True], [1, 4, 5, False, 6.56, True], [1, 4, 5, False, 6.56, True], [1, 4, 5, False, 6.56, True], [1, 4, 5, False, 6.56, True], [1, 4, 5, False, 6.56, True]]

In [7]:
#method pada tipe data list
#append list.append(i)
list1 = [1,4,5,False,6.56,True]
list1.append(False)
print(list1)

[1, 4, 5, False, 6.56, True, False]

In [ ]:
#insert list.inset(i)
list_insert1 = [1,4,5,False,6.56,True]
list_insert1.insert(2, 1900)
print(list_insert1)

In [ ]:
#pop list.pop(i)
list_pop1 = [1,4,5,False,6.56,True]
list_pop1.pop(1)
print(list_pop1)

In [8]:
#sort
list_sort = [1,4,5,False,6.56,True]
print(list_sort)
list_sort.sort()
print(list_sort)

[1, 4, 5, False, 6.56, True]
[False, 1, True, 4, 5, 6.56]

In [ ]:
#reverse
list_reverse = [1,4,5,False,6.56,True]
list_reverse.reverse()
print(list_reverse)

In [ ]:
#remove
list_remove = [1,4,5,False,6.56,True]
list_remove.remove(67)
print(list_remove)

In [ ]:
#del
list_del = [1,4,5,False,6.56,True]
del list_del[-1]
print(list_del)

In [ ]:
#index
list_index =[1,4,5,False,6.56,True]
print(list_index.index(4))

In [ ]:
#count
list_count = [1,4,5,False,6.56,True]
print(list_count.count(6))

In [9]:
#list 2 dimensi
list_minuman = [
    ['Kopi', 'Susu', 'Teh'],
    ['Jus Apel', 'Jus Melon', 'Jus Jeruk'],
    ['Es Kopi', 'Es Campur', 'Es Teler']
]
# ingin mengambil es teler
print(list_minuman[2][2])

Es Teler

In [10]:
namaSaya = 'Rafli Pratama'
print(namaSaya[2])
len(namaSaya)

f

13

In [ ]:
# string merhod

#center
nama_user = 'Rafli Pratama'
print(nama_user)
print('Menggunakan methode "center"')
print(nama_user.center(50))

In [ ]:
#count
nama_user = 'Rafli Pratama'
huruf = 'a'
print(f'Kemunculan Hufur {huruf} dalam {nama_user} : {nama_user.count(huruf)}')
#ljust
print('Menggunakan ljust')
print(nama_user.ljust(30))

In [ ]:
#lower
nama_user = 'Rafli Pratama'
print('Menggunakan lower')
print(nama_user.lower())

In [ ]:
#upper
nama_user = 'Rafli Pratama'
print('Menggunakan Upper')
print(nama_user.upper())

In [ ]:
#rjust
nama_user = 'Rafli Pratama'
print('Menggunakan rjust')
print(nama_user.rjust(30))

In [ ]:
#find
nama_user = 'Rafli Pratama'
huruf = 'a'
print('Menggunakan method find')
print(f'Huruf {huruf} muncul pada index ke-{nama_user.find(huruf)}')

In [ ]:
#split
nama_user = 'Rafli Pratama'
print('Menggunakan method split')
print(nama_user.split(' '))

In [ ]:
#tipe data tuple
tup1 = (1,2,'tiga')
print(tup1)
print(f'di atas adalah tipe data {type(tup1)}')
print()

In [ ]:
#tipe data dictionary
dict1 = {'nama' : 'Rafli'}
print(dict1)
print(f'di atas adlaah tipe data {type(dict1)}')
print()

In [11]:
#set dan method pada set
#Struktur set

#set dengan nilai campuran
data = {'a', 'b','c','d',1,2,3,4}
print(data)

#set tidak menampung nilai yang sama
x = {1,2,3,4,5,6,1,2,3,4}
print(x)

{1, 2, 'b', 3, 4, 'c', 'd', 'a'}
{1, 2, 3, 4, 5, 6}

In [ ]:
data = {'a', 'b','c','d',1,2,3,4}
print(data)

#tambahkan nilai 10 dengan fungsi add()
data.add(10)
print(data)

#tambahkan nilai 11,12,13 menggunakan fungsi update()
data.update({11,12,13})

In [12]:
data = {'a', 'b','c','d',1,2,3,4}
print(data)

#menghapus anggota menggunakan fungsi remove()
data.remove(3)
print(data)
data.remove(5)
print(data)

{1, 2, 'b', 3, 4, 'c', 'd', 'a'}
{1, 2, 'b', 4, 'c', 'd', 'a'}

KeyError: 5

In [13]:
data = {'a', 'b','c','d',1,2,3,4}
print(data)

#menghapus anggota menggunakan fungsi discard()
data.discard(3)
print(data)
data.discard(5)
print(data)

{1, 2, 'b', 3, 4, 'c', 'd', 'a'}
{1, 2, 'b', 4, 'c', 'd', 'a'}
{1, 2, 'b', 4, 'c', 'd', 'a'}

In [14]:
data = {1,2,3,4,5,6}
for i in range(9):
    data.discard(i)
print(data)

set()

In [ ]:
print('Method Union untuk menggabungkan set')
set1 = {1,2,3,4}
set2 = {1,2,7,8}
set3 = (set1 | set2)
print(f'Menggunakan | untuk menggabungkan set : {set3}')
set4 = set1.union(set2)
print(f'Mengunakan fungsi .union() untuk menggabgungkan set : {set4}')

In [ ]:
print('Menggunakan method Intersection atau & untuk mengiris set')
set1 = {1,2,3,4}
set2 = {1,2,7,8}
set3 = (set1 & set2)
print(f'Menggunakan & untuk mengiris set : {set3}')
set4 = set1.intersection(set2)
print(f'Menggunakan fungsi .intersection() untuk mengiris set : {set4}')

In [ ]:
print('Menggunakan method - atau difference untuk menentukan selisih set')
set1 = {1,2,3,4}
set2 = {1,2,7,8}
set4 = (set1 - set2)
print(f'Menggunakan - untuk menentukan selisih dari set : {set4}')
set3 = set1.difference(set2)
print(f'Menggunakan fungsi .difference() untuk menentukan selisih set : {set3}')

In [ ]:
print('Menggunakan tanda ^ atau fungsi symmetric_difference() untuk menentukan komplemen dari set')
set1 = {1,2,3,4}
set2 = {1,2,7,8}
set3 = (set1 ^ set2)
print(f'Menggunakan tanda ^ untuk menentukan kompelen set : {set3}')
set4 = set1.symmetric_difference(set2)
print(f'Menggunakan fungsi .symmertric_different untuk meentukan komplemen set : {set4}')
print()

In [15]:
data = {1,2,3,4,5,6,1,2,3,4,5,6,'Boolean'}
data.update([100,200,300])
print(data)

{1, 2, 3, 4, 5, 6, 200, 100, 300, 'Boolean'}