In [29]:
#tipe data integer
a = 3
print(a)
print(f'di atas adalah tipe data {type(a)}')
print()

a = int(input('Masukkan angka nya : '))
print(f'Ini angkanya : {a}')

3
di atas adalah tipe data <class 'int'>

Ini angkanya : 4

In [2]:
#tipe data float
float1 = 3.14
print(float1)
print(f'di atas adalah tipe data {type(float1)}')
print()

float1 = float(input('Masukkan angka float nya : '))
print(f'Ini angka nya : {float1}')

3.14
di atas adalah tipe data <class 'float'>

Ini angka nya : 5.0

In [3]:
#tipe data string
strings = '"Ini adalah string"'
print(strings)
print(f'di atas adalah tipe data {type(strings)}')
print()

strings = input('Masukkan teks nya : ')
print(f'Ini adalah teks nya : {strings}')

"Ini adalah string"
di atas adalah tipe data <class 'str'>

Ini adalah teks nya : Rafli

In [30]:
#tipe data Boolean
bool1 = True
print(bool1)
print(f'di atas adalah tipe data {type(bool1)}')
print()

True
di atas adalah tipe data <class 'bool'>

In [31]:
#tipe daya hexadecimal
hexsa = hex(123)
print(hexsa)
print(f'di atas adalah tipe data {type(hexsa)}')
print()

0x7b
di atas adalah tipe data <class 'str'>

In [32]:

#tipe data complex
comp = 3j + 5
print(comp)
print(f'di atas adalah tipe data {type(comp)}')
print()

(5+3j)
di atas adalah tipe data <class 'complex'>

In [6]:
#tipe data list
list1 = [1,4,5,False,6.56,True]
print(list1)
print(f'di atas adalah tipe data {type(list1)}')
z = [list1] * 8
print(z)

[1, 4, 5, False, 6.56, True]
di atas adalah tipe data <class 'list'>
[[1, 4, 5, False, 6.56, True], [1, 4, 5, False, 6.56, True], [1, 4, 5, False, 6.56, True], [1, 4, 5, False, 6.56, True], [1, 4, 5, False, 6.56, True], [1, 4, 5, False, 6.56, True], [1, 4, 5, False, 6.56, True], [1, 4, 5, False, 6.56, True]]

In [7]:
#method pada tipe data list
#append list.append(i)
list1 = [1,4,5,False,6.56,True]
list1.append(False)
print(list1)

[1, 4, 5, False, 6.56, True, False]

In [33]:
#insert list.inset(i)
list_insert1 = [1,4,5,False,6.56,True]
list_insert1.insert(2, 1900)
print(list_insert1)

[1, 4, 1900, 5, False, 6.56, True]

In [34]:
#pop list.pop(i)
list_pop1 = [1,4,5,False,6.56,True]
list_pop1.pop(1)
print(list_pop1)

[1, 5, False, 6.56, True]

In [8]:
#sort
list_sort = [1,4,5,False,6.56,True]
print(list_sort)
list_sort.sort()
print(list_sort)

[1, 4, 5, False, 6.56, True]
[False, 1, True, 4, 5, 6.56]

In [35]:
#reverse
list_reverse = [1,4,5,False,6.56,True]
list_reverse.reverse()
print(list_reverse)

[True, 6.56, False, 5, 4, 1]

In [39]:
#remove
list_remove = [1,4,5,False,6.56,True]
list_remove.remove(1)
print(list_remove)

[4, 5, False, 6.56, True]

In [40]:
#del
list_del = [1,4,5,False,6.56,True]
del list_del[-1]
print(list_del)

[1, 4, 5, False, 6.56]

In [41]:
#index
list_index =[1,4,5,False,6.56,True]
print(list_index.index(4))

1

In [43]:
#count
list_count = [1,4,5,False,6.56,True]
print(list_count.count(4))

1

In [9]:
#list 2 dimensi
list_minuman = [
    ['Kopi', 'Susu', 'Teh'],
    ['Jus Apel', 'Jus Melon', 'Jus Jeruk'],
    ['Es Kopi', 'Es Campur', 'Es Teler']
]
# ingin mengambil es teler
print(list_minuman[2][2])

Es Teler

In [44]:
namaSaya = 'Rafli Pratama'
print(namaSaya[2])
len(namaSaya)

f

13

In [45]:
# string merhod

#center
nama_user = 'Rafli Pratama'
print(nama_user)
print('Menggunakan methode "center"')
print(nama_user.center(50))

Rafli Pratama
Menggunakan methode "center"
                  Rafli Pratama

In [47]:
#count
nama_user = 'Rafli Pratama'
huruf = 'a'
print(f'Kemunculan Hufur {huruf} dalam {nama_user} : {nama_user.count(huruf)}')

Kemunculan Hufur a dalam Rafli Pratama : 4

In [48]:
#ljust
print('Menggunakan ljust')
print(nama_user.ljust(30))

Menggunakan ljust
Rafli Pratama

In [50]:
#rjust
nama_user = 'Rafli Pratama'
print('Menggunakan rjust')
print(nama_user.rjust(30))

Menggunakan rjust
                 Rafli Pratama

In [49]:
#lower
nama_user = 'Rafli Pratama'
print('Menggunakan lower')
print(nama_user.lower())

Menggunakan lower
rafli pratama

In [51]:
#upper
nama_user = 'Rafli Pratama'
print('Menggunakan Upper')
print(nama_user.upper())

Menggunakan Upper
RAFLI PRATAMA

In [52]:
#find
nama_user = 'Rafli Pratama'
huruf = 'a'
print('Menggunakan method find')
print(f'Huruf {huruf} muncul pada index ke-{nama_user.find(huruf)}')

Menggunakan method find
Huruf a muncul pada index ke-1

In [53]:
#split
nama_user = 'Rafli Pratama'
print('Menggunakan method split')
print(nama_user.split(' '))

Menggunakan method split
['Rafli', 'Pratama']

In [ ]:
#tipe data tuple
tup1 = (1,2,'tiga')
print(tup1)
print(f'di atas adalah tipe data {type(tup1)}')
print()

In [ ]:
#tipe data dictionary
dict1 = {'nama' : 'Rafli'}
print(dict1)
print(f'di atas adlaah tipe data {type(dict1)}')
print()

In [11]:
#set dan method pada set
#Struktur set

#set dengan nilai campuran
data = {'a', 'b','c','d',1,2,3,4}
print(data)

#set tidak menampung nilai yang sama
x = {1,2,3,4,5,6,1,2,3,4}
print(x)

{1, 2, 'b', 3, 4, 'c', 'd', 'a'}
{1, 2, 3, 4, 5, 6}

In [54]:
data = {'a', 'b','c','d',1,2,3,4}
print(data)

#tambahkan nilai 10 dengan fungsi add()
data.add(10)
print(data)

#tambahkan nilai 11,12,13 menggunakan fungsi update()
data.update({11,12,13})

{1, 2, 'b', 3, 4, 'c', 'd', 'a'}
{1, 2, 'b', 3, 4, 10, 'c', 'd', 'a'}

In [12]:
data = {'a', 'b','c','d',1,2,3,4}
print(data)

#menghapus anggota menggunakan fungsi remove()
data.remove(3)
print(data)
data.remove(5)
print(data)

{1, 2, 'b', 3, 4, 'c', 'd', 'a'}
{1, 2, 'b', 4, 'c', 'd', 'a'}

KeyError: 5

In [13]:
data = {'a', 'b','c','d',1,2,3,4}
print(data)

#menghapus anggota menggunakan fungsi discard()
data.discard(3)
print(data)
data.discard(5)
print(data)

{1, 2, 'b', 3, 4, 'c', 'd', 'a'}
{1, 2, 'b', 4, 'c', 'd', 'a'}
{1, 2, 'b', 4, 'c', 'd', 'a'}

In [14]:
data = {1,2,3,4,5,6}
for i in range(9):
    data.discard(i)
print(data)

set()

In [55]:
print('Method Union untuk menggabungkan set')
set1 = {1,2,3,4}
set2 = {1,2,7,8}
set3 = (set1 | set2)
print(f'Menggunakan | untuk menggabungkan set : {set3}')
set4 = set1.union(set2)
print(f'Mengunakan fungsi .union() untuk menggabgungkan set : {set4}')

Method Union untuk menggabungkan set
Menggunakan | untuk menggabungkan set : {1, 2, 3, 4, 7, 8}
Mengunakan fungsi .union() untuk menggabgungkan set : {1, 2, 3, 4, 7, 8}

In [56]:
print('Menggunakan method Intersection atau & untuk mengiris set')
set1 = {1,2,3,4}
set2 = {1,2,7,8}
set3 = (set1 & set2)
print(f'Menggunakan & untuk mengiris set : {set3}')
set4 = set1.intersection(set2)
print(f'Menggunakan fungsi .intersection() untuk mengiris set : {set4}')

Menggunakan method Intersection atau & untuk mengiris set
Menggunakan & untuk mengiris set : {1, 2}
Menggunakan fungsi .intersection() untuk mengiris set : {1, 2}

In [57]:
print('Menggunakan method - atau difference untuk menentukan selisih set')
set1 = {1,2,3,4}
set2 = {1,2,7,8}
set4 = (set1 - set2)
print(f'Menggunakan - untuk menentukan selisih dari set : {set4}')
set3 = set1.difference(set2)
print(f'Menggunakan fungsi .difference() untuk menentukan selisih set : {set3}')

Menggunakan method - atau difference untuk menentukan selisih set
Menggunakan - untuk menentukan selisih dari set : {3, 4}
Menggunakan fungsi .difference() untuk menentukan selisih set : {3, 4}

In [58]:
print('Menggunakan tanda ^ atau fungsi symmetric_difference() untuk menentukan komplemen dari set')
set1 = {1,2,3,4}
set2 = {1,2,7,8}
set3 = (set1 ^ set2)
print(f'Menggunakan tanda ^ untuk menentukan kompelen set : {set3}')
set4 = set1.symmetric_difference(set2)
print(f'Menggunakan fungsi .symmertric_different untuk meentukan komplemen set : {set4}')
print()

Menggunakan tanda ^ atau fungsi symmetric_difference() untuk menentukan komplemen dari set
Menggunakan tanda ^ untuk menentukan kompelen set : {3, 4, 7, 8}
Menggunakan fungsi .symmertric_different untuk meentukan komplemen set : {3, 4, 7, 8}

In [15]:
data = {1,2,3,4,5,6,1,2,3,4,5,6,'Boolean'}
data.update([100,200,300])
print(data)

{1, 2, 3, 4, 5, 6, 200, 100, 300, 'Boolean'}

In [ ]:
# Struktur Tuple
tupleA = (1111,2222,'Hai')
print(tupleA)

In [16]:
#Akses tuple
isi = ('struktur data')
isi1 = ('struktur', 'data')
print(isi)
print(isi1[1])

struktur data
data

In [59]:
data = (567, 'struktur', 'data', 'kuliah')
print(data[0:4])

(567, 'struktur', 'data', 'kuliah')

In [18]:
#nested tuple

tp1 = ('Saya', 'belajar', 'struktur data')
tp2 = ['kuliahnya', 3, 'sks']
tp3 = (tp1,tp2)
print(tp3)
print(tp3[0][1])

(('Saya', 'belajar', 'struktur data'), ['kuliahnya', 3, 'sks'])
belajar

In [20]:
#dictionary

mahasiswa = {
    'nama' : 'Rafli Pratama',
    'umur' : 19,
    'tinggi' : 165,
    'hobi' : ['membaca', 'menulis'],
    'kontak' : {
        'No HP' : '089694226167',
        'email' : 'h1101241008@student.untan.ac.id'
    }
}

print(mahasiswa)

{'nama': 'Rafli Pratama', 'umur': 19, 'tinggi': 165, 'hobi': ['membaca', 'menulis'], 'kontak': {'No HP': '089694226167', 'email': 'h1101241008@student.untan.ac.id'}}

In [60]:
#cara pertama
buku = {
    'nama' : 'Rafli Pratama',
    'lulusan' : 'smanda'
}

In [61]:
inidict = {}
dict = {'nama' : 'Rafli Pratama', 'umur' : 19, 'sekolah' : 'Smanda ptk'}
print(inidict)
print(dict)

{}
{'nama': 'Rafli Pratama', 'umur': 19, 'sekolah': 'Smanda ptk'}

In [62]:

dict = {'nama' : 'Rafli Pratama', 'umur' : 19, 'sekolah' : 'Smanda ptk'}
print(dict['nama'], dict['umur'], dict['sekolah'])

Rafli Pratama 19 Smanda ptk

In [26]:
dict = {'nama' : 'Rafli Pratama', 'umur' : 19, 'sekolah' : 'Smanda ptk'}
dict.items()

Rafli Pratama 19 Smanda ptk

dict_items([('nama', 'Rafli Pratama'), ('umur', 19), ('sekolah', 'Smanda ptk')])

In [63]:
dict = {'nama' : 'Rafli Pratama', 'umur' : 19, 'sekolah' : 'Smanda ptk'}
dict.keys()

dict_keys(['nama', 'umur', 'sekolah'])

In [67]:
dict = {'nama' : 'Rafli Pratama', 'umur' : 19, 'angkatan' : 2024}
dict['asal'] = 'pontianak'
print(dict)

{'nama': 'Rafli Pratama', 'umur': 19, 'angkatan': 2024, 'asal': 'pontianak'}

In [68]:
dict = {'nama' : 'Rafli Pratama', 'umur' : 19, 'angkatan' : 2024}
dict['umur'] = 18
print(dict)
dict['program studi'] = 'sistem informasi'
print(dict)

{'nama': 'Rafli Pratama', 'umur': 18, 'angkatan': 2024}
{'nama': 'Rafli Pratama', 'umur': 18, 'angkatan': 2024, 'program studi': 'sistem informasi'}

In [69]:
dict = {'nama' : 'Rafli Pratama', 'umur' : 19, 'angkatan' : 2024}
print(dict)
del dict['nama']
print(dict)

{'nama': 'Rafli Pratama', 'umur': 19, 'angkatan': 2024}
{'umur': 19, 'angkatan': 2024}

In [70]:
dict = {'nama' : 'Rafli Pratama', 'umur' : 19, 'angkatan' : 2024}
print(dict)
dict.pop('nama')
print(dict)

{'nama': 'Rafli Pratama', 'umur': 19, 'angkatan': 2024}
{'umur': 19, 'angkatan': 2024}

In [71]:
mahasiswa = {
    'nama' : 'Rafli Pratama',
    'umur' : 19,
    'tinggi' : 165,
    'hobi' : ['membaca', 'menulis'],
    'kontak' : {
        'No HP' : '089694226167',
        'email' : 'h1101241008@student.untan.ac.id'
    }
}

print(mahasiswa)
print(len(mahasiswa))

{'nama': 'Rafli Pratama', 'umur': 19, 'tinggi': 165, 'hobi': ['membaca', 'menulis'], 'kontak': {'No HP': '089694226167', 'email': 'h1101241008@student.untan.ac.id'}}
5

In [28]:
mahasiswa = {
    'nama' : 'Rafli Pratama',
    'umur' : 19,
    'tinggi' : 165,
    'hobi' : ['membaca', 'menulis'],
    'kontak' : {
        'No HP' : '089694226167',
        'email' : 'h1101241008@student.untan.ac.id'
    }
}

print('Biodata mahasiswa : ')
for key,value in mahasiswa.items():
    print(f'{key} : {value}')

Biodata mahasiswa :
nama : Rafli Pratama
umur : 19
tinggi : 165
hobi : ['membaca', 'menulis']
kontak : {'No HP': '089694226167', 'email': 'h1101241008@student.untan.ac.id'}